[*.cs]

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none
