html, body { overflow-x: hidden; width: 100%; }

.color-row { padding: 0px; margin: 0px; }

.color-representation { display: inline-block; width: 60px; height: 15px; border: 2px solid #000000; }

#topnav { padding: 0px; margin: 0px; }

#topnav .container { padding-top: 0px !important; padding-bottom: 0px !important; margin-bottom: 0px; }

@media screen and (min-width: 768px) { body { min-height: 100vh; }
  .icon-md-100 { width: 100% !important; height: auto !important; } }

@media screen and (max-width: 991.98px) { body { -webkit-overflow-scrolling: touch; } }

@media screen and (min-width: 992px) { .h-lg-100 { height: 100%; } }

.max-vw-25 { max-width: 25vw !important; }

.min-vw-25 { min-width: 25vw !important; }

.max-vh-25 { max-height: 25vh !important; }

.min-vh-25 { min-height: 25vh !important; }

.max-vw-50 { max-width: 50vw !important; }

.min-vw-50 { min-width: 50vw !important; }

.max-vh-50 { max-height: 50vh !important; }

.min-vh-50 { min-height: 50vh !important; }

.max-vw-75 { max-width: 75vw !important; }

.min-vw-75 { min-width: 75vw !important; }

.max-vh-75 { max-height: 75vh !important; }

.min-vh-75 { min-height: 75vh !important; }

.max-vw-100 { max-width: 100vw !important; }

.min-vw-100 { min-width: 100vw !important; }

.max-vh-100 { max-height: 100vh !important; }

.min-vh-100 { min-height: 100vh !important; }

.max-vw-auto { max-width: autovw !important; }

.min-vw-auto { min-width: autovw !important; }

.max-vh-auto { max-height: autovh !important; }

.min-vh-auto { min-height: autovh !important; }

.text-blue { color: #48bdfe !important; }

a.text-blue:hover, a.text-blue:focus { color: #01a0f8 !important; }

.bg-blue { background-color: #48bdfe; }

.bg-gradient-blue { background: #48bdfe linear-gradient(180deg, #48bdfe, #15abfe) repeat-x !important; }

.text-blue { color: #48bdfe; }

.icon-blue { --fa-primary-color: #48bdfe; --fa-secondary-color: #ade2ff; }

.text-indigo { color: #bf4bff !important; }

a.text-indigo:hover, a.text-indigo:focus { color: #a300fe !important; }

.bg-indigo { background-color: #bf4bff; }

.bg-gradient-indigo { background: #bf4bff linear-gradient(180deg, #bf4bff, #ad18ff) repeat-x !important; }

.text-indigo { color: #bf4bff; }

.icon-indigo { --fa-primary-color: #bf4bff; --fa-secondary-color: #e3b1ff; }

.text-purple { color: #bf4bff !important; }

a.text-purple:hover, a.text-purple:focus { color: #a300fe !important; }

.bg-purple { background-color: #bf4bff; }

.bg-gradient-purple { background: #bf4bff linear-gradient(180deg, #bf4bff, #ad18ff) repeat-x !important; }

.text-purple { color: #bf4bff; }

.icon-purple { --fa-primary-color: #bf4bff; --fa-secondary-color: #e3b1ff; }

.text-pink { color: #ff5885 !important; }

a.text-pink:hover, a.text-pink:focus { color: #ff0c4d !important; }

.bg-pink { background-color: #ff5885; }

.bg-gradient-pink { background: #ff5885 linear-gradient(180deg, #ff5885, #ff2560) repeat-x !important; }

.text-pink { color: #ff5885; }

.icon-pink { --fa-primary-color: #ff5885; --fa-secondary-color: #ffbed0; }

.text-red { color: #ff5885 !important; }

a.text-red:hover, a.text-red:focus { color: #ff0c4d !important; }

.bg-red { background-color: #ff5885; }

.bg-gradient-red { background: #ff5885 linear-gradient(180deg, #ff5885, #ff2560) repeat-x !important; }

.text-red { color: #ff5885; }

.icon-red { --fa-primary-color: #ff5885; --fa-secondary-color: #ffbed0; }

.text-orange { color: #e98f00 !important; }

a.text-orange:hover, a.text-orange:focus { color: #9d6000 !important; }

.bg-orange { background-color: #e98f00; }

.bg-gradient-orange { background: #e98f00 linear-gradient(180deg, #e98f00, #b67000) repeat-x !important; }

.text-orange { color: #e98f00; }

.icon-orange { --fa-primary-color: #e98f00; --fa-secondary-color: #ffbb50; }

.text-yellow { color: #e98f00 !important; }

a.text-yellow:hover, a.text-yellow:focus { color: #9d6000 !important; }

.bg-yellow { background-color: #e98f00; }

.bg-gradient-yellow { background: #e98f00 linear-gradient(180deg, #e98f00, #b67000) repeat-x !important; }

.text-yellow { color: #e98f00; }

.icon-yellow { --fa-primary-color: #e98f00; --fa-secondary-color: #ffbb50; }

.text-green { color: #06c0af !important; }

a.text-green:hover, a.text-green:focus { color: #04766b !important; }

.bg-green { background-color: #06c0af; }

.bg-gradient-green { background: #06c0af linear-gradient(180deg, #06c0af, #048f82) repeat-x !important; }

.text-green { color: #06c0af; }

.icon-green { --fa-primary-color: #06c0af; --fa-secondary-color: #33f9e7; }

.text-teal { color: #06c0af !important; }

a.text-teal:hover, a.text-teal:focus { color: #04766b !important; }

.bg-teal { background-color: #06c0af; }

.bg-gradient-teal { background: #06c0af linear-gradient(180deg, #06c0af, #048f82) repeat-x !important; }

.text-teal { color: #06c0af; }

.icon-teal { --fa-primary-color: #06c0af; --fa-secondary-color: #33f9e7; }

.text-cyan { color: #06c0af !important; }

a.text-cyan:hover, a.text-cyan:focus { color: #04766b !important; }

.bg-cyan { background-color: #06c0af; }

.bg-gradient-cyan { background: #06c0af linear-gradient(180deg, #06c0af, #048f82) repeat-x !important; }

.text-cyan { color: #06c0af; }

.icon-cyan { --fa-primary-color: #06c0af; --fa-secondary-color: #33f9e7; }

.text-white { color: #fff !important; }

a.text-white:hover, a.text-white:focus { color: #d9d9d9 !important; }

.bg-white { background-color: #fff; }

.bg-gradient-white { background: #fff linear-gradient(180deg, #fff, #e6e6e6) repeat-x !important; }

.text-white { color: #fff; }

.icon-white { --fa-primary-color: #fff; --fa-secondary-color: white; }

.text-gray { color: #6c757d !important; }

a.text-gray:hover, a.text-gray:focus { color: #494f54 !important; }

.bg-gray { background-color: #6c757d; }

.bg-gradient-gray { background: #6c757d linear-gradient(180deg, #6c757d, #545b62) repeat-x !important; }

.text-gray { color: #6c757d; }

.icon-gray { --fa-primary-color: #6c757d; --fa-secondary-color: #a1a8ae; }

.text-gray-dark { color: #343a40 !important; }

a.text-gray-dark:hover, a.text-gray-dark:focus { color: #121416 !important; }

.bg-gray-dark { background-color: #343a40; }

.bg-gradient-gray-dark { background: #343a40 linear-gradient(180deg, #343a40, #1d2124) repeat-x !important; }

.text-gray-dark { color: #343a40; }

.icon-gray-dark { --fa-primary-color: #343a40; --fa-secondary-color: #626d78; }

.icon-theme { --fa-primary-color: #06c0af; --fa-secondary-color: #06c0af; }

.icon-100 { width: 100% !important; height: auto !important; }

.font-size-lg { font-size: 1.25rem; }

.font-size-sm { font-size: 0.875rem; }

.font-size-base { font-size: 1rem; }

h1, h2, h3, .display-1, .display-2, .display-3, .display-4, .h-section { font-family: "Roboto Slab", serif; }

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), .display-1:not(:first-child), .display-2:not(:first-child), .display-3:not(:first-child), .display-4:not(:first-child), .h-section:not(:first-child) { margin-top: 1.5rem; }

h1 { color: #0190df; padding-bottom: 0.5rem; margin-bottom: 0.5rem; }

h2, h3 { color: #48bdfe; }

.h-section { background-color: #495057; color: #fff; padding: 0.5rem; margin-bottom: 1.5rem; }

#topnav { background: #e9ecef linear-gradient(180deg, #fff, #e9ecef) repeat-x !important; }

#logo { height: 3rem; }

.bg-body { background-color: #e9ecef; }

#nav-docs a { font-size: 1.25rem; }

#nav-docs a, #nav-docs a:focus, #nav-docs a:active { color: #48bdfe; }

#nav-docs a:hover { color: #0190df; }

#hero { background: #e98f00 linear-gradient(180deg, #05a798, #05a798) repeat-x !important; }

.product-wordmark { width: 3em; }

.product-icon { font-size: 1.5rem; margin-left: -0.75rem; }

#footer { background-color: #212529; }

.bg-docs { background-color: #b67000; }

.text-docs { color: #e98f00; }

.icon-docs { --fa-primary-color: #e98f00; --fa-secondary-color: #ffbb50; }

.section-docs #titlebar { background: #ffbb50 linear-gradient(180deg, #e98f00, #ffa81d) repeat-x !important; }

.section-docs #titlebar .section { color: #b67000; font-size: 1rem; }

.section-docs #titlebar .title { line-height: 1.5em; font-family: "Roboto Slab", serif; font-size: 2.1rem; }

.section-docs #undertitle { background-color: transparent; }

@media (min-width: 768px) { .section-docs #undertitle > .container { min-height: 1.5rem; }
  .section-docs #undertitle > .container > .row { min-height: 1.5rem; } }

.section-docs .bg-section { background-color: #e9ecef; }

.section-docs .sidebar-nav-item { padding-top: 0.5rem; padding-bottom: 0.5rem; font-weight: 700; }

.section-docs .sidebar-nav-item.has-children { margin-bottom: 0; }

.section-docs .sidebar-nav-item.active a { color: #6c757d; }

.section-docs .sidebar-nav-item.active a:hover, .section-docs .sidebar-nav-item.active a:focus, .section-docs .sidebar-nav-item.active a:active { color: #6c757d; }

.section-docs .sidebar-nav-children { border-left: 3px solid #dee2e6; padding-left: 1rem; margin-bottom: 1rem; display: none; }

@media (min-width: 768px) { .section-docs .sidebar-nav-children { display: block; } }

.section-docs .sidebar-nav-children.active { display: block; }

.section-docs .sidebar-nav-child { padding-top: 0.5rem; padding-bottom: 0.5rem; }

.section-docs .sidebar-nav-child.active a { color: #6c757d; }

.section-docs .sidebar-nav-child.active a:hover, .section-docs .sidebar-nav-child.active a:focus, .section-docs .sidebar-nav-child.active a:active { color: #6c757d; }

@media (min-width: 768px) { .sidebar { padding-bottom: 1.5rem; margin-bottom: 1.5rem; border-bottom: none; padding-bottom: 0; margin-bottom: 0; } }

.page-box { border: 1px solid #e9ecef; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); border-radius: 0.25rem; }

.page-box *:last-child { margin-bottom: 0; }

/* Mermaid */
.mermaid { overflow: hidden !important; visibility: hidden !important; margin-bottom: 1rem; margin-top: 1rem; min-height: 200px; }

.mermaid[data-processed="true"] { visibility: visible !important; }

.mermaid svg { min-height: 200px; }

.node rect, .node circle, .node ellipse, .node polygon { fill: #e0f4ff !important; stroke: #000 !important; }

.type-node rect, .type-node circle, .type-node ellipse, .type-node polygon { fill: #7bcffe !important; stroke: #000 !important; }

.cluster rect { fill: #f8f9fa !important; stroke: #dee2e6 !important; }
