<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Spectre Systems Test Ruleset" ToolsVersion="12.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="AD0001" Action="None" /> <!-- ? -->
    <Rule Id="SA0001" Action="None" /> <!-- XmlCommentAnalysisDisabled -->
    <Rule Id="SA1100" Action="None" /> <!-- DoNotPrefixCallsWithBaseUnlessLocalImplementationExists -->
    <Rule Id="SA1101" Action="None" /> <!-- PrefixLocalCallsWithThis -->
    <Rule Id="SA1113" Action="None" /> <!-- CommaMustBeOnSameLineAsPreviousParameter -->
    <Rule Id="SA1116" Action="None" /> <!-- SplitParametersMustStartOnLineAfterDeclaration -->
    <Rule Id="SA1117" Action="None" /> <!-- ParametersMustBeOnSameLineOrSeparateLines -->
    <Rule Id="SA1118" Action="None" /> <!-- ParameterMustNotSpanMultipleLines -->
    <Rule Id="SA1121" Action="None" /> <!-- UseBuiltInTypeAlias -->
    <Rule Id="SA1122" Action="None" /> <!-- UseStringEmptyForEmptyStrings -->
    <Rule Id="SA1124" Action="None" /> <!-- DoNotUseRegions -->
    <Rule Id="SA1127" Action="None" /> <!-- GenericTypeConstraintsMustBeOnOwnLine -->
    <Rule Id="SA1128" Action="None" /> <!-- ConstructorInitializerMustBeOnOwnLine -->
    <Rule Id="SA1139" Action="None" /> <!-- UseLiteralsSuffixNotationInsteadOfCasting -->
    <Rule Id="SA1200" Action="None" /> <!-- UsingDirectivesMustBePlacedCorrectly -->
    <Rule Id="SA1201" Action="None" /> <!-- ElementsMustAppearInTheCorrectOrder -->
    <Rule Id="SA1202" Action="None" /> <!-- ElementsMustBeOrderedByAccess -->
    <Rule Id="SA1204" Action="None" /> <!-- StaticElementsMustAppearBeforeInstanceElements -->
    <Rule Id="SA1300" Action="None" /> <!-- ElementMustBeginWithUpperCaseLetter -->
    <Rule Id="SA1306" Action="None" /> <!-- FieldNamesMustBeginWithLowerCaseLetter -->
    <Rule Id="SA1309" Action="None" /> <!-- FieldNamesMustNotBeginWithUnderscore -->
    <Rule Id="SA1310" Action="None" /> <!-- FieldNamesMustNotContainUnderscore -->
    <Rule Id="SA1402" Action="None" /> <!-- FileMayOnlyContainASingleType -->
    <Rule Id="SA1403" Action="None" /> <!-- FileMayOnlyContainASingleNamespace -->
    <Rule Id="SA1404" Action="None" /> <!-- CodeAnalysisSuppressionMustHaveJustification -->
    <Rule Id="SA1405" Action="None" /> <!-- DebugAssertMustProvideMessageText -->
    <Rule Id="SA1413" Action="None" /> <!-- UseTrailingCommasInMultiLineInitializers -->
    <Rule Id="SA1513" Action="None" /> <!-- ClosingBraceMustBeFollowedByBlankLine -->
    <Rule Id="SA1515" Action="None" /> <!-- SingleLineCommentMustBePrecededByBlankLine -->
    <Rule Id="SA1516" Action="None" /> <!-- ElementsMustBeSeparatedByBlankLine -->
    <Rule Id="SA1600" Action="None" /> <!-- ElementsMustBeDocumented -->
    <Rule Id="SA1601" Action="None" /> <!-- PartialElementsMustBeDocumented -->
    <Rule Id="SA1602" Action="None" /> <!-- EnumerationItemsMustBeDocumented -->
    <Rule Id="SA1611" Action="None" /> <!-- ElementParametersMustBeDocumented -->
    <Rule Id="SA1612" Action="None" /> <!-- ElementParameterDocumentationMustMatchElementParameters -->
    <Rule Id="SA1625" Action="None" /> <!-- ElementDocumentationMustNotBeCopiedAndPasted -->
    <Rule Id="SA1633" Action="None" /> <!-- FileMustHaveHeader -->
    <Rule Id="SA1649" Action="None" /> <!-- FileNameMustMatchTypeName -->
  </Rules>
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    <Rule Id="RCS1021" Action="None" /> <!-- Simplify lambda expression -->
    <Rule Id="RCS1029" Action="None" /> <!-- Format binary operator on next line -->
    <Rule Id="RCS1090" Action="None" /> <!-- Call ConfigureAwait(false) -->
    <Rule Id="RCS1141" Action="None" /> <!-- Remove empty initializer -->
  </Rules>
</RuleSet>