[*.cs]

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none

# CA1724: Conflicting name
dotnet_diagnostic.CA1724.severity = none

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable:none

# SA1116: Split parameters should start on line after declaration
dotnet_diagnostic.SA1116.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# SA1611: Element parameters should be documented
dotnet_diagnostic.SA1611.severity = none

# RCS1141: Add 'param' element to documentation comment.
dotnet_diagnostic.RCS1141.severity = none

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = none

# IDE0028: Simplify collection initialization
dotnet_style_collection_initializer = false:suggestion

# RCS1021: Simplify lambda expression.
dotnet_diagnostic.RCS1021.severity = none

# CA2227: Collection properties should be read only
dotnet_diagnostic.CA2227.severity = none
