[*.cs]
# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1404: Code analysis suppressions should have justification
dotnet_diagnostic.SA1404.severity = none

# SA1516: Elements should be separated by a blank line
dotnet_diagnostic.SA1516.severity = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# CSA1204: Static members should appear before non-static members
dotnet_diagnostic.SA1204.severity = none

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = warning

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = false:suggestion

# IDE0018: Variable declaration can be inlined
dotnet_diagnostic.IDE0018.severity = warning

# SA1625: Element documenation should not be copied and pasted
dotnet_diagnostic.SA1625.severity = none

# IDE0005: Using directive is unnecessary
dotnet_diagnostic.IDE0005.severity = warning

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# IDE1006: Naming rule violation
dotnet_diagnostic.IDE1006.severity = none

# Default severity for analyzer diagnostics with category 'Naming'
dotnet_analyzer_diagnostic.category-Naming.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.OrderingRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.OrderingRules.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.ReadabilityRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.ReadabilityRules.severity = none

# Default severity for analyzer diagnostics with category 'Usage'
dotnet_analyzer_diagnostic.category-Usage.severity = none
